body {
  background-color: #0f0f0f;
  color: white;
}

.container .jumbotron {
  border-radius: 3px;
  margin-top: 10px;
}

#roundcorners {
    border-radius: 10px;
    background: #0f0f0f;
    padding: 15px;
}

.redhighlight {
  color: rgb(255, 0, 92);
}

.cyanhighlight {
  color:#00ffe0;
}

.blacc {
  color: #0f0f0f;
}
