
body {
  background-color: #0f0f0f;
  color: white;
}

#titleContainer {
  border-radius: 3px;
  margin-top: 10px;
}

#title {
  font-family: 'Ostrich Sans', sans-serif;
  font-weight: bold;
  font-size: 2em;
}

#subtitle {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 2em;
}

#roundcorners {
    border-radius: 10px;
    background: #0f0f0f;
    padding: 15px;
}

.redhighlight {
  color: rgb(255, 0, 92);
}

.cyanhighlight {
  color:#00ffe0;
}

.blacc {
  color: #0f0f0f;
}
