/* style for plasmoxy.github.io by Plasmoxy */

.roundcorners {
    border-radius: 5px;
    background: #0f0f0f;
    padding: 15px;
}

/* COLORS */

.text-red {
  color: rgb(255, 0, 92);
}

.text-cyan {
  color: #00ffe0;
}

.bg-cyan {
  background: #00ffe0;
}

.bg-darker {
  background: #262a2f;
}

.blacc {
  color: #0f0f0f;
}

.nightbg {
  background: #0f0f0f;
}

/* specific */

a {
  color: #00ffe0;
}
a:hover {
  color: #ffc107;
}

body {
  background-color: #0f0f0f;
  color: white;
}

#superroot {
  display: none;
}

#titleContainer {
  background: #d99d26;
  border-radius: 3px;
  margin-top: 20px;
  padding: 20px;
}

#title {
  font-family: 'Ostrich Sans';
  font-weight: bold;
  font-size: 5rem;
}

#subtitle {
  font-family: 'Pathway Gothic One';
  font-size: 2rem;
}

#content {

}

@media only screen and (max-width: 768px) {
    #title {
      font-size: 4rem;
    }
}
