body {
  background-color: #111;
  color: white;
  margin: 0px 0px 0px 0px; /* DISABLE THOS BAD BORDERS */
  overflow: hidden; /* DISABLE SCROLLING */
}

#info {
  color: #00fff7;
  font-family: sans-serif;
  font-size: 5em;
  display: block;
}

#p5_loading {
  font-size: 3em;
  display: block;
  color: rgb(236, 254, 30);
}
