body {
  background: #111;
  margin: 0;
  padding: 30px;
  color: white;
}

.flexcenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

canvas {
  background: #0f0f0f;
}
