.btn {
  padding: 10px 20px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}

.btn-primary {
  background: #2b2b2b;
  color: #ffffff;
  margin-bottom: 10px;
  margin-left: 3px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background: #3d3d3d;
}

.btn-primary:active, .btn-primary.active {
  background: #cb206d;
  box-shadow: none;
}

.btn-primary.raisedGreen {
	box-shadow: 0 3px 0 0 #95db00;
}

.btn-primary.raisedTeal {
	box-shadow: 0 3px 0 0 #00dbc1;
}

.btn-primary.raisedCyan {
	box-shadow: 0 3px 0 0 #00dacd;
}

.btn-primary.raisedVibrantRed {
	box-shadow: 0 3px 0 0 #db0056;
}

.btn-primary.raised:active, .btn-primary.raised.active {
	background: #3d3d3d;
	box-shadow: none;
	margin-bottom: -3px;
	margin-top: 3px;
}
