body {
  background: #111;
  margin: 0;
  padding: 20px;
  color: white;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.text-center {
  text-align: center;
}

canvas {
  border: 1px solid #00ffe8;
}
