
.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.text-center {
  text-align: center;
}

body {
  font-family: Consolas, sans-serif;
  background: #08080d;
  margin: 20px;
  color: white;
}

canvas {
  background: #0f0f0f;
}

a {
  color: #00f7ff;
}

a:hover {
  color: #ff00fc;
}
