body {
   background:url("https://forum.escapefromtarkov.com/uploads/monthly_2016_06/5760bebd45967_Blank_34a451087296d8c2618fc5637607f15f.jpg.82a3050279ef10b89ff542e87063f0e1.jpg");
}
nav {
   padding: 50px 0;
   min-width: 500px;
}
nav ul {
   background: linear-gradient(90deg,
     rgba(255, 255, 255, 0) 0%,
     rgba(255, 255, 255, 0.2) 25%,
     rgba(255, 255, 255, 0.2) 75%,
     rgba(255, 255, 255, 0) 100%);
   box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
     inset 0 0 1px rgba(255, 255, 255, 0.6);
}
nav ul li {
   display: inline-block;
}
nav ul li a {
   padding: 10px;
   color: #FFFFFF;
   font-size: 18px;
   font-family: Arial;
   text-decoration: none;
   display: block;
 }
